# Converting JSON Data to CSV Files

## Importing Libaries / Packages

In [1]:
import json
import pandas as pd
from creds import username, password
from sqlalchemy import create_engine
import psycopg2

## Creating Connection to Database

In [2]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Yelp_DB')

## Importing Review Data

In [ ]:
reviews = []
for line in open('yelp_academic_dataset_review.json','r',encoding='utf8'):
    reviews.append(json.loads(line))

In [ ]:
reviews[1]

In [ ]:
df = pd.json_normalize(reviews)
df.head()

### Doing basic analysis to see the shape, types, and max/min length of values.

In [ ]:
df.shape

In [ ]:
df.dtypes

Checking for max and min lengths of string data for analysis before creating tables in Postgres.

In [ ]:
for col in df.columns:
    if df[col].dtype == 'O':
        print(f'Max length of {col}: {df[col].str.len().max()}')
        print(f'Min length of {col}: {df[col].str.len().min()}')

### Saving data to CSV file

In [ ]:
df.to_csv('sample_review.csv',encoding='utf8',date_format='%s')

## Import User Data

In [ ]:
users = []
for line in open('yelp_academic_dataset_user.json','r',encoding='utf8'):
    users.append(json.loads(line))

In [ ]:
users[1]

In [ ]:
df_users = pd.json_normalize(users)
df_users.head()

### Doing basic analysis to see the shape, types, and max/min length of values.

In [ ]:
df_users.shape

In [ ]:
for col in df_users.columns:
    if df_users[col].dtype == 'O':
        print(f'Max length of {col}: {df_users[col].str.len().max()}')

In [ ]:
df_users.dtypes

### Saving data to CSV file

In [ ]:
df_users.to_csv('sample_users.csv', encoding='utf8', date_format='%s')

## Importing Business Data

In [ ]:
business = []
df_business = pd.DataFrame()
for line in open('yelp_academic_dataset_business.json','r',encoding='utf8'):
    business.append(json.loads(line))

In [ ]:
business[0]

In [ ]:
df_business = pd.json_normalize(business)
df_business.head()

### Doing basic analysis to see the shape, types, and max/min length of values.

In [ ]:
df_business.shape

In [ ]:
pd.set_option('display.max_columns', None)
df_business.columns

In [ ]:
df_business.dtypes

### Removing features that are not necessary

In [ ]:
df_business_dropped = df_business.drop(['hours','attributes','hours.Monday', 'hours.Tuesday','hours.Wednesday', 'hours.Thursday', 'hours.Friday', 'hours.Saturday', 'hours.Sunday'], axis=1)
df_business_dropped.columns

### Analyzing any NaN values

In [ ]:
import seaborn as sns
sns.heatmap(df_business_dropped.isnull(),cbar=False, xticklabels=True)

All of the NaN values are concentrated in the attributes section of the dataset. Also note that there is a significant amoujnt of NaN values after 'GoodForKids', these attributes are good canidate to be dropped.

### Renaming the attribute columns

In [ ]:
new_column_names = {
    'attributes.RestaurantsTableService':'restaurants_table_service',
    'attributes.WiFi':'wifi',
    'attributes.BikeParking':'bike_parking',
    'attributes.BusinessParking':'business_parking',
    'attributes.BusinessAcceptsCreditCards':'business_accepts_credit_cards',
    'attributes.RestaurantsReservations':'restaurants_reservations',
    'attributes.WheelchairAccessible':'wheelchair_accessible',
    'attributes.Caters':'caters',
    'attributes.OutdoorSeating':'outdoor_seating',
    'attributes.RestaurantsGoodForGroups':'restaurants_good_for_groups', 
    'attributes.HappyHour':'happy_hour',
    'attributes.BusinessAcceptsBitcoin':'business_accepts_bitcoin',  
    'attributes.RestaurantsPriceRange2':'restaurants_price_range2',  
    'attributes.Ambience':'ambience',  
    'attributes.HasTV':'has_tv',  
    'attributes.Alcohol':'alcohol',  
    'attributes.GoodForMeal':'good_for_meal',  
    'attributes.DogsAllowed':'dogs_allowed',  
    'attributes.RestaurantsTakeOut':'restaurants_take_out',  
    'attributes.NoiseLevel':'noise_level',
    'attributes.RestaurantsAttire':'restaurants_attire',  
    'attributes.RestaurantsDelivery':'restaurants_delivery',  
    'attributes.GoodForKids':'good_for_kids',  
    'attributes.ByAppointmentOnly':'by_appointment_only',  
    'attributes.AcceptsInsurance':'accepts_insurance',  
    'attributes.HairSpecializesIn':'hair_specializes_in',  
    'attributes.GoodForDancing':'good_for_dancing',  
    'attributes.BestNights':'best_nights',  
    'attributes.Music':'music',  
    'attributes.BYOB':'byob',  
    'attributes.CoatCheck':'coat_check',  
    'attributes.Smoking':'smoking',  
    'attributes.DriveThru':'drive_thru',  
    'attributes.BYOBCorkage':'byob_corkage',  
    'attributes.Corkage':'corkage',  
    'attributes.RestaurantsCounterService':'restaurants_counter_service',
    'attributes.AgesAllowed':'ages_allowed',
    'attributes.DietaryRestrictions':'dietary_restrictions',  
    'attributes.Open24Hours':'open_24_hours'
}

In [ ]:
df_business_renamed = df_business_dropped.rename(columns=new_column_names)
df_business_renamed.head()

In [ ]:
for col in df_business_renamed.columns:
    if df_business_renamed[col].dtype == 'O':
        print(f'Max length of {col}: {df_business_renamed[col].str.len().max()}')
for col in df_business_renamed.columns:
    print(f'{col} - {df_business_renamed[col].dtypes}')

## Splitting Attributes and Business Data

These are split to be pushed into the database. I am saving these two into one CSV file.

In [ ]:
df_business_only = df_business_renamed[['business_id','name','address','city','state','postal_code','latitude','longitude', 'stars','review_count', 'is_open', 'categories']]
df_business_only.head()

In [ ]:
df_bus_attri = df_business_renamed[['business_id','restaurants_table_service', 'wifi', 'bike_parking', 'business_parking', 'business_accepts_credit_cards', 'restaurants_reservations', 'wheelchair_accessible', 'caters', 'outdoor_seating', 'restaurants_good_for_groups', 'happy_hour', 'business_accepts_bitcoin', 'restaurants_price_range2', 'ambience', 'has_tv', 'alcohol', 'good_for_meal', 'dogs_allowed', 'restaurants_take_out', 'noise_level', 'restaurants_attire', 'restaurants_delivery', 'good_for_kids', 'by_appointment_only', 'accepts_insurance', 'hair_specializes_in', 'good_for_dancing', 'best_nights', 'music', 'byob', 'coat_check', 'smoking', 'drive_thru', 'byob_corkage', 'corkage', 'restaurants_counter_service', 'ages_allowed', 'dietary_restrictions', 'open_24_hours']]
df_bus_attri.head()

### Saving data as CSV file

In [ ]:
df_business_renamed.to_csv('sample_business.csv', encoding='utf8', date_format='%s')

## Push data into Postgres

In [ ]:
connection = engine.connect()

In [ ]:
#df_business_only.to_sql('businesses', con = connection, if_exists = 'append', index = False, chunksize = 1000)

In [ ]:
#df_bus_attri.to_sql('business_attributes', con = connection, if_exists = 'append', index = False, chunksize = 1000)

In [ ]:
#df_users.to_sql('users', con = connection, if_exists = 'append', index = False, chunksize = 1000)

In [ ]:
#df.to_sql('reviews', con = connection, if_exists = 'append', index = False, chunksize = 1000)

In [ ]:
connection.close()